.road-horizontal,
.road-vertical{
    position: absolute;
    background-color: rgb(123, 118, 118);
}

.road-horizontal{
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;

    height: 50vh;
    width: 100vw;
}


.road-vertical{
    left: 0;
    right: 0;
    top: 0;
    margin: 0 auto;

    height: 100vh;
    width: 60vh;
    display: flex;
}

.lane{
    border: 1px solid white;
}

/* Horizontal lanes */
.road-upper, .road-down{
    width: 100%;
    height: 50%;
}

.road-upper{
    align-self: flex-start;
    display: flex;
    justify-content: end;
}

.road-down{
    align-self: flex-end;
}

.road-horizontal .lanes{
    width: max-content;
    display: block;
    position: relative;
}

.road-horizontal .lane{
    width: 47rem;
    height: 8.6rem;
    display: flex;
}


.lane-3{
    display: flex;
    justify-content: flex-end;
}
.lane-4{
    display: flex;
    justify-content: flex-end;
}

/* Vertical lanes */

.road-left, .road-right{
    width: 50%;
    height: 100%;
    display: flex;
}

.road-vertical .lanes{
    height: max-content;
    display: flex;
    position: relative;
}

.road-right{
    align-items: flex-end;
}

.road-vertical .lane{
    width: 10rem;
    height: 17rem;
    display: block;
}

.lane-5{
    display: flex;
    align-items: flex-end;

}
.lane-6{
    display: flex;
    align-items: flex-end;
}
.lane-7{
    align-self: flex-end;
}
.lane-8{
    align-self: flex-end;
}

