.car{
    overflow: hidden;
    border: 1px solid green;
}

.car-horizontal{
    width: 10rem;
    height: 100%;
}

.car-vertical{
    margin: 0.5em 0;
    width: 100%;
    height: 8rem;

}

.car-image{
    margin: auto auto;
    width: 100%;
    height: 100%;
    background: url('../../images/car.png') no-repeat;
    background-size: contain;
    background-position: center;
}

.horizontal-upper-rotation{
    transform: rotate(90deg);
}

.horizontal-down-rotation{
    transform: rotate(270deg);
}

.vertical-left-rotation{
    transform: rotate(0deg);
}

.vertical-right-rotation    {
    transform: rotate(180deg);
}
