.App-header {
  width: 100vw;
  height: 200vh;
	margin: 0 auto;
  position: relative;
  background-color: rgb(5, 70, 5);
  height: 100vh;
  overflow: hidden;
}

.start{
  position: absolute;
  top: 90px;
  left: 150px;
  color: #fff;
  background-color: rgb(18, 13, 13);
  width: 10%;
  padding: 1em;
  font-size: 25px;
}